body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu,
    Cantarell, sans-serif;
}

#root {
  min-height: 100vh;
  width: 100%;
}
